.flex {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 60%;
    align-items: center;
    border-radius:2rem;
}
.single__img__type {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.single__info {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
    
}

@media (max-width: 830px) {
    .single__img {
        width: 10rem;
    }
    .flex {
        width:90%
    }
  
}


@media (max-width: 500px) {
    .modal__barPower {
        width: 8rem;
    }

    .modal__item__name, .modal__item__num {
        font-size:1rem;
    }


    .flex {
        flex-direction: column;
        justify-content: space-around;
        padding: 2rem 0px;
        
    }
    .col {
        display: flex;
        flex-direction: column;
    }
   
}

