.nav__pages {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 2rem auto;
}

.nav__pages li {
  background: var(--main-yellow);
  width: 1rem;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

.nav__pages .active {
  border:3px solid #3B5EB4;
}

@media (max-width: 800px) {
  .nav__pages {
    width: 90%;
    
  }
 
} 
