:root {
  --main-blue: #12539C;
  --blue-dark:#063160;
  --ligh-blue:#5282B7;

  --main-yellow: #EFCC09;
  --yellow-dark:#937C00;
  --light-yellow:#FFE767;

  --red-dar:#931700;
  --main-red: #EF2D09;
  --light-red:#FB5B3D;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'pokemon';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0093E9;
  background: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  min-height: 100vh;
 
}

html {
  font-size:62.5%;
  min-width: 100vh;
}

li {
  
  list-style: none;
}
a {
  text-decoration: none;
  color:white;
}

